extends layout

block content
    h1 #{title} 
    form(method='POST', action='/company/add')
      #form-group
        label Company:
        input.form-control(name='company', type='text')          
      #form-group
        label Code:
        input.form-control(name='code', type='number')
      br
      input.btn.btn-primary(type='submit', value='Submit')
      