extends layout

block content
    h1 #{title} 
    form(method='POST', action='/employees/add')
      #form-group
        label First Name:
        input.form-control(name='firstName', type='text')          
      #form-group
        label Last Name:
        input.form-control(name='lastName', type='text')
      #form-group
        label Employee Number (if available):
        input.form-control(name='employeeNR', type='number')
      br
      input.btn.btn-primary(type='submit', value='Submit')
      