extends layout

block content
    if user
      h1 #{title} 
      form(method='POST', action='/equipment/add')
        #form-group
          label Type:
          select.form-control(name='type')
            each eqType, i in eqTypes
              option.form-control(name='type', value=eqType.type) #{eqType.type}
        #form-group
          label Make:
          input.form-control(name='make', type='text')
        #form-group
          label Model:
          input.form-control(name='model', type='text')
        #form-group
          label Grade:
          input.form-control(name='grade', type='text')
        #form-group
          label Cost:
          input.form-control(name='cost', type='decimal')
        #form-group
          label Notes:
          textarea.form-control(name='notes')
        #form-group
          label Active Status:
          input.form-control(name='active', type='checkbox' value='true')
        br
        input.btn.btn-primary(type='submit', value='Submit')
    else
      h3 Administrators Only
      p Contact RIT if you need to add a system user
