extends layout

block content
    h2 #{title}
    if user
      ul.list-group
        each option, i in options
          li.list-group-item 
            a(href="/"+option.url)= option.name
            p=option.description
    else
      h3 Only For Authorised Users
      p Contact RIT or HR if you need access to this resource
      p uk.rit@kloeckner.com 
      p hradmin@kloeckner.com

          