extends layout

block content
    if user
      h1 #{title} 
      form(method='POST', action='/options/add')
        #form-group
          label Name:
          input.form-control(name='name', type='text')          
        #form-group
          label url extension:
          input.form-control(name='url', type='text')
        #form-group
          label Descrpition:
          textarea.form-control(name='description')
        br
        input.btn.btn-primary(type='submit', value='Submit')
    else
      h3 Administrators Only
      p Contact RIT if you need to add a system user
      