extends layout

block content
    if user
      h1 #{title}
      ul.list-group
        each user, i in users
          li.list-group-item 
            a(href="/users/edit/"+user._id)= user.email
            p=user.firstName + ' ' + user.lastName
    else
      h3 Administrators Only
      p Contact RIT if you need to add a system user
