extends layout

block content
    h1 #{title} 
    form(method='POST', action='/users/edit/'+user._id)
      #form-group
        label User:
        input.form-control(name='email', type='text', value=user.email)          
      #form-group
        label First Name:
        input.form-control(name='firstName', type='text', value=user.firstName)
      #form-group
        label Last Name:
        input.form-control(name='lastName', type='text', value=user.lastName)
      br
      input.btn.btn-primary(type='submit', value='Submit')